<div class="row">
  <div class="center cols-md-9">
    <div class="table-responsive" id="entities" *ngIf="posts && posts.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
            <th scope="col" jhiSortBy="title"><span jhiTranslate="blogApp.post.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="content">
              <span jhiTranslate="blogApp.post.content">Content</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="date"><span jhiTranslate="blogApp.post.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="status"><span jhiTranslate="blogApp.post.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody
          infinite-scroll
          (scrolled)="loadPage(page + 1)"
          [infiniteScrollDisabled]="page >= links['last']"
          [infiniteScrollDistance]="0"
        >
          <tr *ngFor="let post of posts; trackBy: trackId" data-cy="entityTable">
            <td>{{ post.title }}</td>
            <td>{{ post.content }}</td>
            <td>{{ post.date | formatMediumDatetime }}</td>
            <td jhiTranslate="{{ 'blogApp.PublicationStatus.' + post.status }}">{{ post.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
